<div class="pt-2 pb-4">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-sm-12 px-3 col-lg-8 col-md-10">
          <h1 class="display-4"><b>{{.Title}}</b></h1>
            <div class="py-2">
              <p>When you reach out to new leads, you want to be certain that emails will not bounce, so that you can start building relationships from the first touch.</p>
              <p>Install the add-on for bulk email verification directly on Google Sheets, where you have contacts collected.</p>
            </div>
            <div class="pt-2 pb-3">
              <a class="btn btn-secondary btn-lg" href="https://chrome.google.com/webstore/detail/email-verification-tool/hjglgddmakllhjichdecfnbcolgjeknm?utm_source=site"><b>Install the add-on to get started</b></a>
            </div>
      </div>
    </div>
  </div>
</div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-sm-12 px-3 col-lg-8 col-md-10">
          <p>Wondering how it works to help you? Watch a video.</p>
          <div class="col-sm-12 text-center mx-auto col-md-12 col-lg-12 py-0 px-0 border border-info">
            <div class="embed-responsive embed-responsive-16by9 my-0">
              <iframe src="https://www.youtube.com/embed/i2xWYpuBHmc?controls=0&showinfo=0&modestbranding=1&rel=0" allowfullscreen="" class="embed-responsive-item"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-sm-12 px-3 col-lg-8 col-md-10">
           {{ .Content }}
        </div>
      </div>
    </div>
  </div>