<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid"> <a class="navbar-brand" href="/">
        <img class="d-inline" height="30" width="30" src="/img/logo.png">
      </a> <button class="navbar-toggler navbar-toggler-right border-0 collapsed" type="button" data-toggle="collapse" data-target="#navbar10" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar10" style="">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/help/">Support</a></li>
          <li class="nav-item"><a class="nav-link-active" href="https://chrome.google.com/webstore/detail/email-verification-tool/hjglgddmakllhjichdecfnbcolgjeknm?utm_source=site">Install the add-on</a></li>
      </div>
    </div>
  </nav>